June 3rd IOT GNITS/TRIS_Smart Billing system for water suppliers/flows.json
[{"id":"eceacfb7.ddbd7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"39c7029.08c44fe","type":"debug","z":"eceacfb7.ddbd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"292115df.b3657a","type":"ibmiot in","z":"eceacfb7.ddbd7","authentication":"apiKey","apiKey":"83da2b81.422db8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2000","applicationId":"","deviceType":"varsha","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":300,"wires":[["39c7029.08c44fe","15327b3.e360b85","a2fd5872.2e3ca8","ebe94c40.5e36f"]]},{"id":"15327b3.e360b85","type":"function","z":"eceacfb7.ddbd7","name":"water","func":"global.set(\"water\",msg.payload.d.water)\nreturn{payload:msg.payload.d.water}","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["39c7029.08c44fe"]]},{"id":"a2fd5872.2e3ca8","type":"function","z":"eceacfb7.ddbd7","name":"balance","func":"global.set(\"balance\",msg.payload.d.balance)\nreturn{payload:msg.payload.d.balance}","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["39c7029.08c44fe"]]},{"id":"ebe94c40.5e36f","type":"function","z":"eceacfb7.ddbd7","name":"uid","func":"global.set(\"uid\",msg.payload.d.uid)\nreturn{payload:msg.payload.d.uid}","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["39c7029.08c44fe"]]},{"id":"83da2b81.422db8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"hddkmq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]