June 3rd IOT GNITS/TYRANTS_Smart Sprinklers for Golf Course/flows.json
[{"id":"7c073f61.1a57d","type":"tab","label":"PROJECT","disabled":false,"info":""},{"id":"9ad7ee5c.69391","type":"function","z":"7c073f61.1a57d","name":"moist","func":"global.set(\"moist\",msg.payload.d.moist);\nreturn {payload:msg.payload.d.moist};","outputs":1,"noerr":0,"x":345,"y":175,"wires":[["25865468.8743fc"]]},{"id":"25865468.8743fc","type":"debug","z":"7c073f61.1a57d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":644.5,"y":165,"wires":[]},{"id":"faa014d3.51b508","type":"http in","z":"7c073f61.1a57d","name":"","url":"/moist","method":"get","upload":false,"swaggerDoc":"","x":110.5,"y":385,"wires":[["2c887075.3cf03"]]},{"id":"ec1cd395.08eb3","type":"http response","z":"7c073f61.1a57d","name":"","statusCode":"","headers":{},"x":671.5,"y":459,"wires":[]},{"id":"2c887075.3cf03","type":"function","z":"7c073f61.1a57d","name":"weather data","func":"msg.payload={\"moist\":global.get('moist')}\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":387,"wires":[["ec1cd395.08eb3"]]},{"id":"adede40d.b7fc28","type":"ui_button","z":"7c073f61.1a57d","name":"","group":"92a9ec5a.ee7a5","order":3,"width":0,"height":0,"passthru":false,"label":"sprinkler on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"spon","payloadType":"str","topic":"","x":161.5,"y":618,"wires":[["9b3b447b.13af58","2f4ca980.bcfa26"]]},{"id":"b818613.84f32a","type":"ui_button","z":"7c073f61.1a57d","name":"","group":"92a9ec5a.ee7a5","order":4,"width":0,"height":0,"passthru":false,"label":"sprinkler off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"spoff","payloadType":"str","topic":"","x":160.5,"y":728,"wires":[["9b3b447b.13af58","2f4ca980.bcfa26"]]},{"id":"9b3b447b.13af58","type":"debug","z":"7c073f61.1a57d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":544,"y":621,"wires":[]},{"id":"2f4ca980.bcfa26","type":"ibmiot out","z":"7c073f61.1a57d","authentication":"apiKey","apiKey":"82ee04c.d6c6cf8","outputType":"cmd","deviceId":"1234","deviceType":"shreya","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":563.5,"y":724,"wires":[]},{"id":"e92b976.bb89c68","type":"http response","z":"7c073f61.1a57d","name":"","statusCode":"","headers":{},"x":686.5,"y":811,"wires":[]},{"id":"83ff8344.bf07c","type":"http in","z":"7c073f61.1a57d","name":"","url":"/project","method":"get","upload":false,"swaggerDoc":"","x":170.5,"y":903,"wires":[["e2f8e8df.483008"]]},{"id":"e2f8e8df.483008","type":"function","z":"7c073f61.1a57d","name":"light","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":849,"wires":[["e92b976.bb89c68","9b3b447b.13af58","2f4ca980.bcfa26"]]},{"id":"f34e3189.9b0bb","type":"ibmiot in","z":"7c073f61.1a57d","authentication":"apiKey","apiKey":"ffd8b2de.de412","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":117.5,"y":172,"wires":[["9ad7ee5c.69391"]]},{"id":"92a9ec5a.ee7a5","type":"ui_group","z":"","name":"Default","tab":"c4687364.6a875","disp":true,"width":"6","collapse":false},{"id":"82ee04c.d6c6cf8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"0ui3ae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ffd8b2de.de412","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"0ui3ae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c4687364.6a875","type":"ui_tab","z":"","name":"Weather data","icon":"dashboard","disabled":false,"hidden":false}]