June 3rd IOT GNITS/MAJ-Smart Waste Management System/NODE RED FLOW
[{"id":"9725725f.4c137","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"bda670a5.4a8b4","type":"ibmiot in","z":"9725725f.4c137","authentication":"apiKey","apiKey":"44edadd0.e9ec74","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"01","applicationId":"","deviceType":"bruno2.0","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":260,"wires":[["b132694c.ca4328","a85bd56.496ba28"]]},{"id":"a85bd56.496ba28","type":"debug","z":"9725725f.4c137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":260,"wires":[]},{"id":"b132694c.ca4328","type":"function","z":"9725725f.4c137","name":"distance","func":"global.set(\"distance\",msg.payload.d.distance)\nreturn {payload:msg.payload.d.distance}","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["a85bd56.496ba28","f3cf2ee1.07a7a"]]},{"id":"f3cf2ee1.07a7a","type":"ui_gauge","z":"9725725f.4c137","name":"","group":"4387f128.eb485","order":11,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":400,"wires":[]},{"id":"44edadd0.e9ec74","type":"ibmiot","z":"","name":"tipsy","keepalive":"60","serverName":"kphn5v.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4387f128.eb485","type":"ui_group","z":"","name":"Default","tab":"3d67e931.5c76e6","disp":true,"width":"6","collapse":false},{"id":"3d67e931.5c76e6","type":"ui_tab","z":"","name":"smartdustbin","icon":"dashboard","disabled":false,"hidden":false}]