June 3rd IOT GNITS/suvira_intelligent and weather adaptive street lighting system/flows.json
[{"id":"78f80c09.d26b0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da1c1f38.64192","type":"ibmiot in","z":"78f80c09.d26b0c","authentication":"apiKey","apiKey":"f041fc34.06322","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1229","applicationId":"","deviceType":"vineela","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":200,"wires":[["ece9088d.c8d638","20347f3d.5601e8"]]},{"id":"ece9088d.c8d638","type":"function","z":"78f80c09.d26b0c","name":"ldr","func":"global.set(\"ldrvalue\",msg.payload.d.ldrvalue)\nreturn{payload:msg.payload.d.ldrvalue}\n","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["36c9c085.b38fc8","20347f3d.5601e8","c428f27c.4eb3b"]]},{"id":"36c9c085.b38fc8","type":"ui_gauge","z":"78f80c09.d26b0c","name":"","group":"69418b7e.1bcd64","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":510,"y":180,"wires":[]},{"id":"20347f3d.5601e8","type":"debug","z":"78f80c09.d26b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":220,"wires":[]},{"id":"c428f27c.4eb3b","type":"ibmiot out","z":"78f80c09.d26b0c","authentication":"apiKey","apiKey":"f041fc34.06322","outputType":"cmd","deviceId":"1229","deviceType":"vineela","eventCommandType":"data","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":340,"wires":[]},{"id":"f041fc34.06322","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"pgx60q.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"69418b7e.1bcd64","type":"ui_group","z":"","name":"Default","tab":"7485b690.e133f8","disp":true,"width":"6","collapse":false},{"id":"7485b690.e133f8","type":"ui_tab","z":"","name":"weather data","icon":"dashboard","disabled":false,"hidden":false}]