June 3rd IOT GNITS/SAM_GREENHOUSE AUTOMATION/flows.json
[{"id":"8f35d679.83d7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3448e3b2.afe74c","type":"ibmiot in","z":"8f35d679.83d7","authentication":"apiKey","apiKey":"77c92661.e824f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"5600","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":120,"wires":[["65bfbed1.2f9938","4256741c.8a176c","4ea1470d.59a308","77ba5fbe.e71f38","acc39c33.5ccc68"]]},{"id":"65bfbed1.2f9938","type":"function","z":"8f35d679.83d7","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["40fb2923.8baaf"]]},{"id":"3192c829.2efa58","type":"debug","z":"8f35d679.83d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"d5756ff2.ed85f8","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":0,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lton","payloadType":"str","topic":"","x":380,"y":160,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"fc03b4a0.951f1","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":1,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ltoff","payloadType":"str","topic":"","x":380,"y":200,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"b6bd8c91.9a5b28","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":2,"width":0,"height":0,"passthru":false,"label":"light auto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ltauto","payloadType":"str","topic":"","x":380,"y":240,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"b8b10c26.24665","type":"http in","z":"8f35d679.83d7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["ccb7b160.a9bd4"]]},{"id":"ccb7b160.a9bd4","type":"function","z":"8f35d679.83d7","name":"","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"avaliableLightPercentage\":global.get('avaliableLightPercentage'),\"soilMoisture\":global.get('soilMoisture')}\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["3c3cc2ac.2e6996"]]},{"id":"3c3cc2ac.2e6996","type":"http response","z":"8f35d679.83d7","name":"","statusCode":"","headers":{},"x":620,"y":420,"wires":[]},{"id":"40fb2923.8baaf","type":"ui_gauge","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":3,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#189c72","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":60,"wires":[]},{"id":"4db23768.d46c2","type":"ui_gauge","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":4,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":200,"y":260,"wires":[]},{"id":"265a79b7.bd7156","type":"http in","z":"8f35d679.83d7","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":170,"y":500,"wires":[["c5b835fe.234e5"]]},{"id":"c5b835fe.234e5","type":"function","z":"8f35d679.83d7","name":"","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["cb417147.dd0a5","fd31eb20.b62bd8"]]},{"id":"cb417147.dd0a5","type":"http response","z":"8f35d679.83d7","name":"","statusCode":"","headers":{},"x":600,"y":520,"wires":[]},{"id":"4256741c.8a176c","type":"function","z":"8f35d679.83d7","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity};\n","outputs":1,"noerr":0,"x":130,"y":180,"wires":[["4db23768.d46c2"]]},{"id":"4ea1470d.59a308","type":"function","z":"8f35d679.83d7","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["3192c829.2efa58"]]},{"id":"fd31eb20.b62bd8","type":"ibmiot out","z":"8f35d679.83d7","authentication":"apiKey","apiKey":"77c92661.e824f8","outputType":"cmd","deviceId":"5600","deviceType":"Project","eventCommandType":"test","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":260,"wires":[]},{"id":"b4a9f58f.a8cef","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":5,"width":0,"height":0,"passthru":false,"label":"sprinkler on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mon","payloadType":"str","topic":"","x":390,"y":280,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"a9b126f2.3a10d","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":7,"width":0,"height":0,"passthru":false,"label":"sprinkler auto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mauto","payloadType":"str","topic":"","x":380,"y":360,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"bc6050ef.438f9","type":"ui_button","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":6,"width":0,"height":0,"passthru":false,"label":"sprinkler off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"moff","payloadType":"str","topic":"","x":390,"y":320,"wires":[["3192c829.2efa58","fd31eb20.b62bd8"]]},{"id":"77ba5fbe.e71f38","type":"function","z":"8f35d679.83d7","name":"light","func":"global.set(\"avaliableLightPercentage\",msg.payload.d.avaliableLightPercentage)\nreturn {payload:msg.payload.d.avaliableLightPercentage};","outputs":1,"noerr":0,"x":120,"y":40,"wires":[["fe757d53.7497e"]]},{"id":"acc39c33.5ccc68","type":"function","z":"8f35d679.83d7","name":"moisture","func":"global.set(\"soilMoisture\",msg.payload.d.soilMoisture)\nreturn {payload:msg.payload.d.soilMoisture};","outputs":1,"noerr":0,"x":80,"y":300,"wires":[["a52f773a.5c2e8"]]},{"id":"fe757d53.7497e","type":"ui_gauge","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":8,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":240,"y":40,"wires":[]},{"id":"a52f773a.5c2e8","type":"ui_gauge","z":"8f35d679.83d7","name":"","group":"b54c711f.b9a77","order":9,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":340,"wires":[]},{"id":"77c92661.e824f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"bj4nz4.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b54c711f.b9a77","type":"ui_group","z":"","name":"Default","tab":"2508c02.909c84","disp":true,"width":"6","collapse":false},{"id":"2508c02.909c84","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]