June 3rd IOT GNITS/Innovation Geeks_Smart Building/flows.json
[{"id":"aa5e593d.ce2e08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a4d9f562.508088","type":"http in","z":"aa5e593d.ce2e08","name":"","url":"/cmd","method":"get","upload":false,"swaggerDoc":"","x":80,"y":540,"wires":[["d88831b.ca144d"]]},{"id":"d88831b.ca144d","type":"function","z":"aa5e593d.ce2e08","name":"onoff","func":"msg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":540,"wires":[["7c44a5aa.aeca4c","109d5ab0.8699e5","7c1c0a4d.1f6e04"]]},{"id":"7c44a5aa.aeca4c","type":"http response","z":"aa5e593d.ce2e08","name":"","statusCode":"","headers":{},"x":330,"y":540,"wires":[]},{"id":"109d5ab0.8699e5","type":"ibmiot out","z":"aa5e593d.ce2e08","authentication":"apiKey","apiKey":"cf803da3.7ca1b","outputType":"cmd","deviceId":"3579","deviceType":"sakiladev","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":340,"wires":[]},{"id":"a711812c.942d3","type":"ibmiot in","z":"aa5e593d.ce2e08","authentication":"apiKey","apiKey":"cf803da3.7ca1b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3579","applicationId":"","deviceType":"sakiladev","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":40,"wires":[["d9f0f7b3.74e6c8","83a115fa.fd1728"]]},{"id":"d9f0f7b3.74e6c8","type":"function","z":"aa5e593d.ce2e08","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature);\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"83a115fa.fd1728","type":"function","z":"aa5e593d.ce2e08","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity);\nreturn {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"7c1c0a4d.1f6e04","type":"debug","z":"aa5e593d.ce2e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":180,"wires":[]},{"id":"1537c286.47412d","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":1,"width":0,"height":0,"passthru":false,"label":"lighton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":110,"y":220,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"2e906f0.ca5c092","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":2,"width":0,"height":0,"passthru":false,"label":"lightoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":110,"y":260,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"e39f7a70.7ff748","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":11,"width":0,"height":0,"passthru":false,"label":"fanon","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fanon","payloadType":"str","topic":"","x":110,"y":300,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"99ee8dc3.8bad6","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":12,"width":0,"height":0,"passthru":false,"label":"fanoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fanoff","payloadType":"str","topic":"","x":110,"y":340,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"e7c90297.53e67","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":13,"width":0,"height":0,"passthru":false,"label":"venton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"venton","payloadType":"str","topic":"","x":110,"y":380,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"b2bfb6d.3ab0948","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":14,"width":0,"height":0,"passthru":false,"label":"ventoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ventoff","payloadType":"str","topic":"","x":110,"y":420,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"1c7a2d84.a1ef62","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":15,"width":0,"height":0,"passthru":false,"label":"heaton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heaton","payloadType":"str","topic":"","x":110,"y":460,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"3b9728ec.68b058","type":"ui_button","z":"aa5e593d.ce2e08","name":"","group":"2840e874.329698","order":16,"width":0,"height":0,"passthru":false,"label":"heatoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heatoff","payloadType":"str","topic":"","x":110,"y":500,"wires":[["7c1c0a4d.1f6e04","109d5ab0.8699e5"]]},{"id":"28463525.a67e4a","type":"http in","z":"aa5e593d.ce2e08","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":640,"wires":[["f889fdd.d375f"]]},{"id":"f889fdd.d375f","type":"function","z":"aa5e593d.ce2e08","name":"http","func":"msg.payload={\"temperature\":global.get('temperature'),\n\"humidity\":global.get('humidity')};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":620,"wires":[["41a6f0cd.8eecb"]]},{"id":"41a6f0cd.8eecb","type":"http response","z":"aa5e593d.ce2e08","name":"","statusCode":"","headers":{},"x":390,"y":620,"wires":[]},{"id":"cf803da3.7ca1b","type":"ibmiot","z":"","name":"sakilaapi","keepalive":"60","serverName":"4usw7n.messaging.internetofthings.ibmcloud.com","cleansession":false,"appId":"","shared":false},{"id":"2840e874.329698","type":"ui_group","z":"","name":"Default","tab":"526c17dd.4b04c8","disp":true,"width":"6","collapse":false},{"id":"526c17dd.4b04c8","type":"ui_tab","z":"","name":"weatherdata","icon":"dashboard","disabled":false,"hidden":false}]