June 3rd IOT GNITS/SPSR_CARGO MANAGEMENT/flows.json
[{"id":"f6cae16d.3cb3c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62295416.8a5304","type":"inject","z":"f6cae16d.3cb3c8","name":"","topic":"","payload":"HELLO","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["4c51fa92.5791fc"]]},{"id":"4c51fa92.5791fc","type":"debug","z":"f6cae16d.3cb3c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":100,"wires":[]},{"id":"58f47b26.7de41c","type":"ibmiot in","z":"f6cae16d.3cb3c8","authentication":"apiKey","apiKey":"6d89c3e7.7dc5dc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1209","applicationId":"","deviceType":"project1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["4c51fa92.5791fc","55afe2d8.88c34c","2ff208fb.4a55b8"]]},{"id":"55afe2d8.88c34c","type":"function","z":"f6cae16d.3cb3c8","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature);\nreturn{payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["4c51fa92.5791fc","95ac7b63.df0858"]]},{"id":"2ff208fb.4a55b8","type":"function","z":"f6cae16d.3cb3c8","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity);\nreturn{payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["4c51fa92.5791fc","11d8e057.26d04"]]},{"id":"95ac7b63.df0858","type":"ui_gauge","z":"f6cae16d.3cb3c8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":380,"wires":[]},{"id":"11d8e057.26d04","type":"ui_gauge","z":"f6cae16d.3cb3c8","name":"","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":400,"wires":[]},{"id":"c675ffbc.f0a28","type":"http in","z":"f6cae16d.3cb3c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":510,"y":280,"wires":[["8f84d1be.03b33"]]},{"id":"4df65def.07fa74","type":"http response","z":"f6cae16d.3cb3c8","name":"","statusCode":"","headers":{},"x":500,"y":380,"wires":[]},{"id":"8f84d1be.03b33","type":"function","z":"f6cae16d.3cb3c8","name":"forurl","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity')}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["4df65def.07fa74"]]},{"id":"faeff953.fe0aa8","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":1,"width":0,"height":0,"passthru":false,"label":"fruits","tooltip":"","color":"","bgcolor":"","icon":"","payload":"FRUITS","payloadType":"str","topic":"","x":190,"y":600,"wires":[["7ff25428.4e0a3c","11714232.62086e"]]},{"id":"c47fac37.4eb31","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":2,"width":0,"height":0,"passthru":false,"label":"vegetables","tooltip":"","color":"","bgcolor":"","icon":"","payload":"VEGETABLES","payloadType":"str","topic":"","x":210,"y":659,"wires":[["7ff25428.4e0a3c","11714232.62086e"]]},{"id":"7ff25428.4e0a3c","type":"debug","z":"f6cae16d.3cb3c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":640,"wires":[]},{"id":"11714232.62086e","type":"ibmiot out","z":"f6cae16d.3cb3c8","authentication":"apiKey","apiKey":"6d89c3e7.7dc5dc","outputType":"cmd","deviceId":"1209","deviceType":"project1","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":560,"wires":[]},{"id":"8dcd6a0b.8c7ae8","type":"http response","z":"f6cae16d.3cb3c8","name":"","statusCode":"","headers":{},"x":650,"y":860,"wires":[]},{"id":"48e7ba3a.992824","type":"http in","z":"f6cae16d.3cb3c8","name":"","url":"/command1","method":"get","upload":false,"swaggerDoc":"","x":600,"y":740,"wires":[["6555369d.e44ed8"]]},{"id":"6555369d.e44ed8","type":"function","z":"f6cae16d.3cb3c8","name":"","func":"msg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":800,"wires":[["8dcd6a0b.8c7ae8","11714232.62086e","7ff25428.4e0a3c"]]},{"id":"338550f0.35b34","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":1,"width":0,"height":0,"passthru":false,"label":"DOORCLOSE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CLOSE","payloadType":"str","topic":"","x":220,"y":900,"wires":[["11714232.62086e","7ff25428.4e0a3c"]]},{"id":"f11dc7fd.f20098","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":12,"width":0,"height":0,"passthru":false,"label":"goods","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GOODS","payloadType":"str","topic":"","x":210,"y":780,"wires":[["7ff25428.4e0a3c","11714232.62086e"]]},{"id":"223b8aa9.2c17b6","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":11,"width":0,"height":0,"passthru":false,"label":"medicine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MEDICINES","payloadType":"str","topic":"","x":200,"y":720,"wires":[["7ff25428.4e0a3c","11714232.62086e"]]},{"id":"d215bf0.e12544","type":"ui_button","z":"f6cae16d.3cb3c8","name":"","group":"598d28a.a9ac6d8","order":0,"width":0,"height":0,"passthru":false,"label":"DOOROPEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OPEN","payloadType":"str","topic":"","x":210,"y":820,"wires":[["11714232.62086e","7ff25428.4e0a3c"]]},{"id":"6d89c3e7.7dc5dc","type":"ibmiot","z":"","name":"spandana","keepalive":"60","serverName":"668qh1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"598d28a.a9ac6d8","type":"ui_group","z":"","name":"Default","tab":"67c9ffcd.ef8b6","disp":true,"width":"6","collapse":false},{"id":"67c9ffcd.ef8b6","type":"ui_tab","z":"","name":"motor","icon":"dashboard","disabled":false,"hidden":false}]