June 3rd IOT GNITS/The_Coders_IOTBasedRiverQualityMonitoringSystemUsingIBMWATSON/flows.json
[{"id":"86751e1.00695e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac97da00.aa7048","type":"debug","z":"86751e1.00695e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":120,"wires":[]},{"id":"bd2acdd6.6744f","type":"ibmiot in","z":"86751e1.00695e","authentication":"apiKey","apiKey":"8196c19c.a1ab4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":240,"wires":[["ac97da00.aa7048","7d2fb21a.a8cc9c","48c79511.61980c","58bdc7a6.6fa6a8","58f2ef13.642d6","44ef4c59.b04c84","d92a4ee0.e7bb5","b02cc8dc.a419d8"]]},{"id":"7d2fb21a.a8cc9c","type":"function","z":"86751e1.00695e","name":"Temperature","func":"global.set(\"temperature\",msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["ac97da00.aa7048","624d7691.a8d858"]]},{"id":"48c79511.61980c","type":"function","z":"86751e1.00695e","name":"Humidity","func":"global.set(\"humidity\",msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity} ","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["ac97da00.aa7048","2a95bc2c.940d44"]]},{"id":"624d7691.a8d858","type":"ui_gauge","z":"86751e1.00695e","name":"","group":"51b743a9.74afcc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":300,"wires":[]},{"id":"2bbaea9b.185346","type":"http in","z":"86751e1.00695e","name":"","url":"/iot","method":"get","upload":false,"swaggerDoc":"","x":220,"y":420,"wires":[["b3cbbfbb.921fe"]]},{"id":"b73039a2.591c88","type":"http response","z":"86751e1.00695e","name":"","statusCode":"","headers":{},"x":670,"y":340,"wires":[]},{"id":"b3cbbfbb.921fe","type":"function","z":"86751e1.00695e","name":"api","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\n\"volt\":global.get('volt'),\"ntu\":global.get('ntu'),\"watertemp\":global.get('watertemp')}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["b73039a2.591c88"]]},{"id":"6ba86c1f.aaf064","type":"debug","z":"86751e1.00695e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":580,"wires":[]},{"id":"ebc97e01.9be8c","type":"ibmiot out","z":"86751e1.00695e","authentication":"apiKey","apiKey":"8196c19c.a1ab4","outputType":"cmd","deviceId":"9999","deviceType":"anonymous_shree","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":660,"wires":[]},{"id":"545596b8.0843f8","type":"function","z":"86751e1.00695e","name":"","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["ebc97e01.9be8c","6ba86c1f.aaf064","697ee720.711358"]]},{"id":"e1fa938c.5bfa4","type":"http in","z":"86751e1.00695e","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["545596b8.0843f8"]]},{"id":"697ee720.711358","type":"http response","z":"86751e1.00695e","name":"","statusCode":"","headers":{},"x":510,"y":720,"wires":[]},{"id":"58bdc7a6.6fa6a8","type":"function","z":"86751e1.00695e","name":"func","func":"msg.payload = new Date().toLocaleTimeString()\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["ac97da00.aa7048","ee827af9.091b68"]]},{"id":"ee827af9.091b68","type":"ui_text","z":"86751e1.00695e","group":"51b743a9.74afcc","order":11,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":260,"wires":[]},{"id":"2a95bc2c.940d44","type":"ui_gauge","z":"86751e1.00695e","name":"","group":"51b743a9.74afcc","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":400,"wires":[]},{"id":"58f2ef13.642d6","type":"function","z":"86751e1.00695e","name":"volt","func":"global.set(\"volt\",msg.payload.d.volt)\nreturn {payload:msg.payload.d.volt} ","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["ac97da00.aa7048","f8464155.3b70e"]]},{"id":"44ef4c59.b04c84","type":"function","z":"86751e1.00695e","name":"ntu","func":"global.set(\"ntu\",msg.payload.d.ntu)\nreturn {payload:msg.payload.d.ntu} ","outputs":1,"noerr":0,"x":360,"y":500,"wires":[["ac97da00.aa7048","e10ccf4d.bf559"]]},{"id":"e10ccf4d.bf559","type":"ui_text","z":"86751e1.00695e","group":"51b743a9.74afcc","order":10,"width":0,"height":0,"name":"","label":"Turbidity values in NTU:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":500,"wires":[]},{"id":"f8464155.3b70e","type":"ui_text","z":"86751e1.00695e","group":"51b743a9.74afcc","order":11,"width":0,"height":0,"name":"","label":"Voltage generated by turbidity Sensor:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":440,"wires":[]},{"id":"d92a4ee0.e7bb5","type":"cloudant out","z":"86751e1.00695e","name":"","cloudant":"","database":"iotproject(riverwater)","service":"mary10-cloudantNoSQLDB","payonly":false,"operation":"insert","x":680,"y":640,"wires":[]},{"id":"b02cc8dc.a419d8","type":"function","z":"86751e1.00695e","name":"watertemp","func":"global.set(\"watertemp\",msg.payload.d.watertemp)\nreturn {payload:msg.payload.d.watertemp} ","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["ac97da00.aa7048","4e73060d.13d3a8"]]},{"id":"4e73060d.13d3a8","type":"ui_text","z":"86751e1.00695e","group":"51b743a9.74afcc","order":7,"width":0,"height":0,"name":"","label":"water temperature in C","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":580,"wires":[]},{"id":"8196c19c.a1ab4","type":"ibmiot","z":"","name":"satya","keepalive":"60","serverName":"gu488j.messaging.internetofthings.ibmcloud.com/","cleansession":true,"appId":"","shared":false},{"id":"51b743a9.74afcc","type":"ui_group","z":"","name":"Default","tab":"55a5213c.2db5a","disp":true,"width":"6","collapse":false},{"id":"55a5213c.2db5a","type":"ui_tab","z":"","name":"IOT BASED RIVER MONITORING SYSTEM","icon":"dashboard","disabled":false,"hidden":false}]