June 3rd IOT GNITS/CODE BLACK_CHILD TRACKER/flows.json
[{"id":"faa34bff.c5d5e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c58e74e1.286838","type":"debug","z":"faa34bff.c5d5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"d47947d6.d45588","type":"ibmiot in","z":"faa34bff.c5d5e8","authentication":"apiKey","apiKey":"8464f033.3cdb7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"Apurva","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":120,"wires":[["92db3106.c53ac","e19d374e.9d2898"]]},{"id":"92db3106.c53ac","type":"function","z":"faa34bff.c5d5e8","name":"Latitude","func":"global.set(\"latitude\",msg.payload.d.latitude)\nreturn {payload:msg.payload.d.latitude}","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["c58e74e1.286838","8e38f534.b1a178"]]},{"id":"e19d374e.9d2898","type":"function","z":"faa34bff.c5d5e8","name":"Longitude","func":"global.set(\"longitude\",msg.payload.d.longitude)\nreturn {payload:msg.payload.d.longitude}","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["c58e74e1.286838","8e38f534.b1a178"]]},{"id":"2e9dcbd.f8d1734","type":"http in","z":"faa34bff.c5d5e8","name":"","url":"/datas","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["7e2122da.03d90c"]]},{"id":"10080a0d.9819a6","type":"http response","z":"faa34bff.c5d5e8","name":"","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"7e2122da.03d90c","type":"function","z":"faa34bff.c5d5e8","name":"web","func":"msg.payload={\"latitude\":global.get('latitude'),\"longitude\":global.get('longitude')}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["10080a0d.9819a6"]]},{"id":"8e38f534.b1a178","type":"function","z":"faa34bff.c5d5e8","name":"Geofence Function","func":"msg={\n    topic:\"test\",\n    payload:\"Your child is out of the specified area.\",\n    location:{\n        lat:global.get('latitude'),\n        lon:global.get('longitude')\n    },\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["85caae58.33bfb"]]},{"id":"ccdf64c3.7fd088","type":"debug","z":"faa34bff.c5d5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":380,"wires":[]},{"id":"85caae58.33bfb","type":"geofence","z":"faa34bff.c5d5e8","name":"","mode":"circle","inside":"false","rad":30238.12716377203,"points":[],"centre":{"latitude":17.41759997256409,"longitude":78.48207950592041},"x":500,"y":380,"wires":[["ccdf64c3.7fd088"]]},{"id":"8464f033.3cdb7","type":"ibmiot","z":"","name":"Apurva","keepalive":"60","serverName":"blm9z2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]