June 3rd IOT GNITS/SQUADRON_intelligent access control system for safety and critical areas in industries/flows.json
[{"id":"5366335b.48327c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6aa2e4ef.f5c57c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fcc37420.bf3de8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6ac5902d.bbab4","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"gfzlqp.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3390fa32.6db3b6","type":"ui_tab","z":"","name":"weather data","icon":"dashboard","disabled":false,"hidden":false},{"id":"45d1a28e.6d21cc","type":"ui_group","z":"","name":"Default","tab":"3390fa32.6db3b6","disp":true,"width":"6","collapse":false},{"id":"fcbe01cc.f829","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"49ef5fe8.ef021","type":"debug","z":"5366335b.48327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":80,"wires":[]},{"id":"df701dff.1df53","type":"ibmiot in","z":"5366335b.48327c","authentication":"apiKey","apiKey":"6ac5902d.bbab4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1006","applicationId":"","deviceType":"GNITS","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":80,"wires":[["49ef5fe8.ef021","576ecc0.cf92934","d9e358df.065798"]]},{"id":"576ecc0.cf92934","type":"function","z":"5366335b.48327c","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["49ef5fe8.ef021","bc875b91.0a0d68"]]},{"id":"d9e358df.065798","type":"function","z":"5366335b.48327c","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["49ef5fe8.ef021","451791ef.2a6e"]]},{"id":"bc875b91.0a0d68","type":"ui_gauge","z":"5366335b.48327c","name":"","group":"45d1a28e.6d21cc","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":140,"wires":[]},{"id":"451791ef.2a6e","type":"ui_gauge","z":"5366335b.48327c","name":"","group":"45d1a28e.6d21cc","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":180,"wires":[]},{"id":"5c39dc69.dc2de4","type":"http in","z":"5366335b.48327c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["c78e587a.c4eee8"]]},{"id":"27febb76.b52854","type":"http response","z":"5366335b.48327c","name":"","statusCode":"","headers":{},"x":510,"y":240,"wires":[]},{"id":"c78e587a.c4eee8","type":"function","z":"5366335b.48327c","name":"http fn","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity')}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["27febb76.b52854"]]},{"id":"45e16794.8cb2d8","type":"ui_button","z":"5366335b.48327c","name":"","group":"45d1a28e.6d21cc","order":2,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":660,"y":320,"wires":[["e8b3cbf0.2284e8","1438128.673c3ee"]]},{"id":"45927140.d1a58","type":"ui_button","z":"5366335b.48327c","name":"","group":"45d1a28e.6d21cc","order":3,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":660,"y":380,"wires":[["e8b3cbf0.2284e8","1438128.673c3ee"]]},{"id":"e8b3cbf0.2284e8","type":"debug","z":"5366335b.48327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":360,"wires":[]},{"id":"1438128.673c3ee","type":"ibmiot out","z":"5366335b.48327c","authentication":"apiKey","apiKey":"6ac5902d.bbab4","outputType":"cmd","deviceId":"1006","deviceType":"GNITS","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":420,"wires":[]},{"id":"8c89ee92.6efa4","type":"http in","z":"5366335b.48327c","name":"","url":"/lo","method":"get","upload":false,"swaggerDoc":"","x":750,"y":220,"wires":[["d9929bda.285978"]]},{"id":"28876571.0f1b2a","type":"http response","z":"5366335b.48327c","name":"","statusCode":"","headers":{},"x":1090,"y":180,"wires":[]},{"id":"d9929bda.285978","type":"function","z":"5366335b.48327c","name":"http fun","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["28876571.0f1b2a","e8b3cbf0.2284e8","1438128.673c3ee"]]},{"id":"a13e6f4e.aaca2","type":"watson-conversation-v1","z":"6aa2e4ef.f5c57c","name":"","workspaceid":"6e4d5b30-133a-4f7f-a7a8-f847f8b5fb49","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":420,"y":100,"wires":[["ed85ab42.674fc8"]]},{"id":"c4a842e.92147c","type":"inject","z":"6aa2e4ef.f5c57c","name":"","topic":"","payload":"good evening","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["a13e6f4e.aaca2"]]},{"id":"16fd1351.29917d","type":"debug","z":"6aa2e4ef.f5c57c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":100,"wires":[]},{"id":"ed85ab42.674fc8","type":"function","z":"6aa2e4ef.f5c57c","name":"split fn","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["16fd1351.29917d","377514cd.ee596c","823c475a.b0e258"]]},{"id":"aa241273.7415b","type":"ui_form","z":"6aa2e4ef.f5c57c","name":"","label":"","group":"45d1a28e.6d21cc","order":4,"width":0,"height":0,"options":[{"label":"Enter the message","value":"input","type":"text","required":true}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["bb5e430a.7338b"]]},{"id":"bb5e430a.7338b","type":"function","z":"6aa2e4ef.f5c57c","name":"in fn","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["a13e6f4e.aaca2","94e2d2c2.5c5e"]]},{"id":"94e2d2c2.5c5e","type":"ui_text","z":"6aa2e4ef.f5c57c","group":"45d1a28e.6d21cc","order":5,"width":0,"height":0,"name":"user","label":"user","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":280,"wires":[]},{"id":"377514cd.ee596c","type":"ui_text","z":"6aa2e4ef.f5c57c","group":"45d1a28e.6d21cc","order":6,"width":0,"height":0,"name":"bot","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":200,"wires":[]},{"id":"823c475a.b0e258","type":"switch","z":"6aa2e4ef.f5c57c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":610,"y":240,"wires":[["f13fe25c.06062","16fd1351.29917d","377514cd.ee596c"],["f13fe25c.06062","16fd1351.29917d","377514cd.ee596c"],["ae9a767f.3e8c48"],["e9b8fe5b.7a237"],["75a88088.8a24a"],["16fd1351.29917d","377514cd.ee596c"]]},{"id":"27d71c8a.2a4164","type":"debug","z":"6aa2e4ef.f5c57c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":500,"wires":[]},{"id":"9b376c08.12789","type":"ibmiot in","z":"6aa2e4ef.f5c57c","authentication":"apiKey","apiKey":"6ac5902d.bbab4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1006","applicationId":"","deviceType":"GNITS","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":480,"wires":[["27d71c8a.2a4164","359d6113.c5022e","dd8a32e6.63472","199900c6.d82abf"]]},{"id":"359d6113.c5022e","type":"function","z":"6aa2e4ef.f5c57c","name":"temperature","func":"global.set(\"temperature\",msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["27d71c8a.2a4164","9bf374e8.2cb2d8"]]},{"id":"dd8a32e6.63472","type":"function","z":"6aa2e4ef.f5c57c","name":"humidity","func":"global.set(\"humidity\",msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":260,"y":580,"wires":[["27d71c8a.2a4164","3f4d36f3.295a9a"]]},{"id":"9bf374e8.2cb2d8","type":"ui_gauge","z":"6aa2e4ef.f5c57c","name":"","group":"45d1a28e.6d21cc","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":540,"wires":[]},{"id":"3f4d36f3.295a9a","type":"ui_gauge","z":"6aa2e4ef.f5c57c","name":"","group":"45d1a28e.6d21cc","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":580,"wires":[]},{"id":"255e6704.9b9018","type":"http in","z":"6aa2e4ef.f5c57c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":60,"y":640,"wires":[["250758df.9d1cd8"]]},{"id":"6f3808ea.e77028","type":"http response","z":"6aa2e4ef.f5c57c","name":"","statusCode":"","headers":{},"x":470,"y":640,"wires":[]},{"id":"250758df.9d1cd8","type":"function","z":"6aa2e4ef.f5c57c","name":"http fn","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity')}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":680,"wires":[["6f3808ea.e77028"]]},{"id":"1941d0a7.e4092f","type":"ui_button","z":"6aa2e4ef.f5c57c","name":"","group":"45d1a28e.6d21cc","order":2,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":620,"y":720,"wires":[["ad6f238b.5e289","f13fe25c.06062"]]},{"id":"71ab0c9c.698a74","type":"ui_button","z":"6aa2e4ef.f5c57c","name":"","group":"45d1a28e.6d21cc","order":3,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":620,"y":780,"wires":[["ad6f238b.5e289","f13fe25c.06062"]]},{"id":"ad6f238b.5e289","type":"debug","z":"6aa2e4ef.f5c57c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":760,"wires":[]},{"id":"f13fe25c.06062","type":"ibmiot out","z":"6aa2e4ef.f5c57c","authentication":"apiKey","apiKey":"6ac5902d.bbab4","outputType":"cmd","deviceId":"1006","deviceType":"GNITS","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1260,"y":360,"wires":[]},{"id":"6da34a64.79a7f4","type":"http in","z":"6aa2e4ef.f5c57c","name":"","url":"/lo","method":"get","upload":false,"swaggerDoc":"","x":710,"y":620,"wires":[["d417d48c.cdf288"]]},{"id":"ffe5d2c6.f2838","type":"http response","z":"6aa2e4ef.f5c57c","name":"","statusCode":"","headers":{},"x":1050,"y":580,"wires":[]},{"id":"d417d48c.cdf288","type":"function","z":"6aa2e4ef.f5c57c","name":"http fun","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":600,"wires":[["ffe5d2c6.f2838","ad6f238b.5e289","f13fe25c.06062"]]},{"id":"ae9a767f.3e8c48","type":"function","z":"6aa2e4ef.f5c57c","name":"t","func":"msg.payload=\"the temperature value is\"\nmsg.payload+=global.get(\"temperature\")\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["16fd1351.29917d","377514cd.ee596c"]]},{"id":"e9b8fe5b.7a237","type":"function","z":"6aa2e4ef.f5c57c","name":"h","func":"msg.payload=\"the humidity value is\"\nmsg.payload+=global.get(\"humidity\")\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["377514cd.ee596c","16fd1351.29917d"]]},{"id":"75a88088.8a24a","type":"function","z":"6aa2e4ef.f5c57c","name":"wea","func":"msg.payload=\"the weatherr data is\"\nmsg.payload+=global.get(\"temperature\")\nmsg.payload+=\"and\"\nmsg.payload+=global.get(\"humidity\")\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["16fd1351.29917d","377514cd.ee596c"]]},{"id":"199900c6.d82abf","type":"cloudant out","z":"6aa2e4ef.f5c57c","name":"","cloudant":"","database":"ssrk","service":"sirnamengji-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1210,"y":480,"wires":[]},{"id":"6d8c6289.ed6cec","type":"ui_button","z":"fcc37420.bf3de8","name":"","group":"45d1a28e.6d21cc","order":2,"width":0,"height":0,"passthru":false,"label":"door open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"dooropen","payloadType":"str","topic":"","x":80,"y":200,"wires":[["4ec38c75.00bba4","c50e5f25.8618a"]]},{"id":"19686b11.350195","type":"ui_button","z":"fcc37420.bf3de8","name":"","group":"45d1a28e.6d21cc","order":3,"width":0,"height":0,"passthru":false,"label":"door close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"doorclose","payloadType":"str","topic":"","x":90,"y":260,"wires":[["4ec38c75.00bba4","c50e5f25.8618a"]]},{"id":"4ec38c75.00bba4","type":"debug","z":"fcc37420.bf3de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"c50e5f25.8618a","type":"ibmiot out","z":"fcc37420.bf3de8","authentication":"apiKey","apiKey":"6ac5902d.bbab4","outputType":"cmd","deviceId":"1006","deviceType":"GNITS","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":320,"y":300,"wires":[]},{"id":"e44c90df.1dc02","type":"http in","z":"fcc37420.bf3de8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["849fc4a9.8758e8"]]},{"id":"3456c02a.f3e7d","type":"http response","z":"fcc37420.bf3de8","name":"","statusCode":"","headers":{},"x":510,"y":60,"wires":[]},{"id":"849fc4a9.8758e8","type":"function","z":"fcc37420.bf3de8","name":"http fun","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["3456c02a.f3e7d","4ec38c75.00bba4","c50e5f25.8618a"]]}]