June 3rd IOT GNITS/smart street light management system(Team-stars)/flows.json
[{"id":"307e2184.dee19e","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f3745138.6cc14","type":"ui_button","z":"307e2184.dee19e","name":"","group":"12f85fe6.43c5c","order":3,"width":0,"height":0,"passthru":false,"label":"lighton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":190,"y":420,"wires":[["33e0b91e.7e3a26","c68f467.1c015b8"]]},{"id":"c9c67e4.dadc28","type":"ui_button","z":"307e2184.dee19e","name":"","group":"12f85fe6.43c5c","order":4,"width":0,"height":0,"passthru":false,"label":"lightoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":170,"y":480,"wires":[["33e0b91e.7e3a26","c68f467.1c015b8"]]},{"id":"33e0b91e.7e3a26","type":"debug","z":"307e2184.dee19e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":440,"wires":[]},{"id":"c68f467.1c015b8","type":"ibmiot out","z":"307e2184.dee19e","authentication":"apiKey","apiKey":"3318af88.e1e01","outputType":"cmd","deviceId":"6919","deviceType":"karra","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":580,"wires":[]},{"id":"9ea45b42.b96f98","type":"http in","z":"307e2184.dee19e","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["3e58e4d7.c3e30c"]]},{"id":"cb7d88b3.976018","type":"http response","z":"307e2184.dee19e","name":"","statusCode":"","headers":{},"x":530,"y":660,"wires":[]},{"id":"3e58e4d7.c3e30c","type":"function","z":"307e2184.dee19e","name":"","func":"msg.payload=msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["cb7d88b3.976018","33e0b91e.7e3a26","c68f467.1c015b8"]]},{"id":"12f85fe6.43c5c","type":"ui_group","z":"","name":"Default","tab":"3027193e.e6ec56","disp":true,"width":"6","collapse":false},{"id":"3318af88.e1e01","type":"ibmiot","z":"","name":" name","keepalive":"60","serverName":"qfbvzt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3027193e.e6ec56","type":"ui_tab","z":"","name":"weather data","icon":"dashboard","disabled":false,"hidden":false}]